
* {
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin: 0;    
    padding: 0;  

}
li, a {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #0101DF;
    text-decoration: none;
}
.Thema {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 34px;
    color: #0101DF;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10%;
    
.logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
}
    
nav {
    order: 1;
    }
    
.nav {
    list-style: none;
    
}
.nav li {
    display: inline-block;
    padding: 0px 20px ;

}
.nav li a {
    transition: all 0.3s ease 0s;

}
.nav li a:hover {
    color: #0088a9
}
 
.cta {
    order: 2;
    }
    
button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    }

button:hover {
    background-color: rgba(0,136,169,0.8);
    }
