*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Baloo;
}
.banner-text{
    width: 100%;
    position: absolute;
}
.banner-text ul{
    height: 50px;
    float: ri;
}
.banner-text ul li{
    display: inline-block
    padding: 40px 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}
.banner-text h2{
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin-top: 20%;
}
.animation-area{
    background: linear-gardient;(to left, #8942a8, #ba382f);
}
